@font-face {
    font-family: FontShop;
    src: url(../fonts/4.ttf);
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /* background-color: #666666d4; */
}



/*======= nav bar ====== */
.header {
    padding: 0 20px;
    max-width: 960px;
    margin: 0 auto;
}

.logo a {
    display: block;
    padding-top: 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: initial;
    font-style: italic;
    text-decoration: overline;
    color: black;

}

nav {
    overflow: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

nav li {
    display: inline-block;
    margin-left: 25px;
    height: 70px;
    line-height: 70px;
    transition: .5s linear;
}

nav a {
    text-decoration: none;
    display: block;
    position: relative;
    color: #131701;
    text-transform: uppercase;
}

nav a:after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 15px;
    background: #131701;
    transition: width .5s linear;
}

nav a:hover:after {
    width: 100%;
}


/* =========start slider */
.font {
    font-family: FontShop;
    font-size: 20px;
    text-align: center;
    color: #364006;
    letter-spacing: -6px;
}

.font h1 sup {
    font-size: 60px;
    letter-spacing: -4px;
}

.font span {
    font-family: 'Montserrat', sans-serif;
    font-size: 49px;
}

#shopContainer {
    margin-top: 6%;
    width: 1000px;
    margin: 5rem auto;
    height: 450px;
}

#shopContainer .slider {
    height: 450px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 30px 30px -20px rgba(0, 0, 0, .5);
}

.bg {
    background: url('../img/4.jpg') center no-repeat;
    width: 110%;
    height: 110%;
    background-size: cover;
    position: absolute;
    top: -5%;
    left: -5%;
    transition: alle .7s;
}

/* title / imges */
.title {
    text-align: center;
}

#flex {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 650px;
    justify-content: center;
    position: relative;

}

#flex .div {
    width: 400px;
    height: 550px;
    /* box-shadow: 0 30px 30px -20px rgba(0, 0, 0, .5); */
    border-radius: 15px;
    margin-left: 20px;
    position: relative;

}

/* img1 */
.img1 {
    background: url('../img/parket3d-0.jpg') center/cover no-repeat;
    width: 400px;
    height: 550px;
    position: relative;
    box-shadow: 0 30px 30px -16px rgb(169, 107, 33);

}


/* img2 */
.img2 {
    background: url('../img/wand-0.jpg') center/cover no-repeat;
    width: 400px;
    height: 550px;
    box-shadow: 0 30px 30px -16px rgb(232, 208, 42);
}



/* img3 */
.img3 {
    background: url('../img/farben-0.jpg') center/cover no-repeat;
    width: 400px;
    height: 550px;
    box-shadow: 0 30px 30px -16px rgb(255, 141, 157);
}


.btn {
    display: inline-block;
    color: #1798b8;
    font-size: 4rem;
    padding: 1rem;
    border-radius: 20px;
    outline: none;
}

.prevBtn {
    position: absolute;
    left: 81px;
}

.nextBtn {
    position: absolute;
    left: 275px;
}

/* ========new card ==================================================================*/
#store {
    background-color: burlywood;
    width: 100%;
    height: 2000px;
}

.container {
    width: 1200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;


}

.container .row {
    width: 1200px;

}

#store-items {
    display: flex;
    width: 1200px;
    margin: auto;
    justify-content: center;
    height: 2000px;
    flex-wrap: wrap;
}

#store-items .store-item-div {
    width: 500px;
    height: 500px;
    background-color: cornsilk;
    margin-left: 30px;
    margin-bottom: 50px;
}

.store-img {
    width: 500px;
    height: 400px;
    overflow: hidden;
}

.card {
    position: relative;
    width: 100%;
    height: 500px;
}

.card-body {
    width: 100%;
    position: absolute;
    height: 95px;
    margin: 0;
}

.card-txt {
    position: relative;
    height: 95px;
    width: 100%;

}

.store-item-name {
    font-size: 42px;
    font-family: serif;
    position: absolute;
}

.store-item-price {
    position: absolute;
    right: 16px;
    font-size: 26px;
    bottom: 30px;
}

.store-item-btn {
    position: absolute;
    right: 43%;
    font-size: 20px;
    bottom: 24px;
    text-decoration: overline;

}

/* =========finito=======card  ============*/
/* start --   to-do-list */

#cardToDoList {
    width: 100%;
    height: 800px;
    background-color: darkgoldenrod;
}

#titleContainer {
    width: 1200px;
    height: 700px;
    margin: auto;
}

.title {
    text-align: center;
    font-size: 57px;
}

.titleItems{
    height:600px ;
}
.titleItems .itemListe {
    text-align: center;
    position: relative;
    height:100px ;
}

.titleItems .itemListe li {
    position: absolute;
    padding: 10px 30px;
    display: inline-block;
    font-size: 37px;
}

.titleItems .itemListe li:nth-child(1){
    left: 10%;
}
.titleItems .itemListe li:nth-child(2){
    left: 42%;
}
.titleItems .itemListe li:nth-child(3){
    right: 6%;
}


/* toDoListStyle */

 .toDoListStyle{
  position: relative;
    width: 1200px;
    height: 100px;
    list-style-type: none;
}

.toDoListStyle li{
    display: inline-block;
    padding: 10px 30px;
    font-size: 30px;
    position: absolute;    
} 

.img img{
    border-radius: 6px;
}
.item-name{
    left: 10%;
}
.item-price{
    left: 43%;
}
.Quantity{
    right: 14%;
}
.item-btn{
    right:0;
   
}
.item-btn button{
    font-size: 23px;
    box-shadow: 0px 5px 10px black;
    border-radius: 6px;
    outline: none;
  
}

/*==============nav bar @media =============*/
@media screen and (max-width: 660px) {
    header {
        text-align: center;
    }

    .logo {
        float: none;
        display: inline-block;
        margin: 0 0 16px 0;
    }

    ul {
        float: none;
    }

    nav li:first-of-type {
        margin-left: 0;
    }

    .font {
        display: none;
    }

    #shopContainer {
        display: none;
    }

    .title {
        display: none;
    }


   #flex{
    flex-wrap: wrap;
    height: 1700px;
   }

   #store-items{
    flex-wrap: wrap;
   }

    /*

    }

    #container{
    display: block;
    margin: 0;
}

    #store-items {
        width: 375px;
        height: 3000px;
        flex-direction: column;
        margin: 0;

    }

    #store-items .store-item{
        margin: 0 0;
        min-width: 375px;

    }

    #cardToDoList {
        width: 375px;
        display: block;
        height: 700px;
        margin: 0;
    } */

}

@media screen and (max-width: 550px) {
    nav {
        overflow: visible;
    }

    nav li {
        display: block;
        margin: 0;
        height: 40px;
        line-height: 40px;
    }

    nav li:hover {
        background: rgba(0, 0, 0, .1);
    }

    nav a:after {
        content: none;
    }

    .title {
        display: none;
    }

    .font {
        display: none;
    }

    /*     #shopContainer {
        display: none;

    }

    #flex {
        width: 100%;
        height: 1700px;
        margin-left: 0;
        text-align: center;
    }

    #flex div {
        width: 100%;
        margin-left: 0;

    }
 */

}