@font-face {
    font-family: FontShop;
    src: url(../fonts/4.ttf);
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /* background-color: #666666d4; */
}



/*======= nav bar ====== */
.header {
    padding: 0 20px;
    max-width: 960px;
    margin: 0 auto;
}

.logo a {
    display: block;
    padding-top: 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: initial;
    font-style: italic;
    text-decoration: overline;
    color: black;

}

nav {
    overflow: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

nav li {
    display: inline-block;
    margin-left: 25px;
    height: 70px;
    line-height: 70px;
    transition: .5s linear;
}

nav a {
    text-decoration: none;
    display: block;
    position: relative;
    color: #131701;
    text-transform: uppercase;
}

nav a:after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 15px;
    background: #131701;
    transition: width .5s linear;
}

nav a:hover:after {
    width: 100%;
}


/* =========start slider */
.font {
    font-family: FontShop;
    font-size: 20px;
    text-align: center;
    color: #364006;
    letter-spacing: -6px;
}

.font h1 sup {
    font-size: 60px;
    letter-spacing: -4px;
}

.font span {
    font-family: 'Montserrat', sans-serif;
    font-size: 49px;
}

#shopContainer {
    margin-top: 6%;
    width: 1000px;
    margin: 5rem auto;
    height: 450px;
}

#shopContainer .slider {
    height: 450px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 30px 30px -20px rgba(0, 0, 0, .5);
}

.bg {
    background: url('../img/4.jpg') center no-repeat;
    width: 110%;
    height: 110%;
    background-size: cover;
    position: absolute;
    top: -5%;
    left: -5%;
    transition: alle .7s;
}

/* title / imges */
.title {
    text-align: center;
}

#flex {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 650px;
    justify-content: center;
    position: relative;

}

#flex .div {
    width: 400px;
    height: 550px;
    /* box-shadow: 0 30px 30px -20px rgba(0, 0, 0, .5); */
    border-radius: 15px;
    margin-left: 20px;
    position: relative;

}

/* img1 */
.img1 {
    background: url('../img/parket3d-0.jpg') center/cover no-repeat;
    width: 400px;
    height: 550px;
    position: relative;
    box-shadow: 0 30px 30px -16px rgb(169, 107, 33);

}


/* img2 */
.img2 {
    background: url('../img/wand-0.jpg') center/cover no-repeat;
    width: 400px;
    height: 550px;
    box-shadow: 0 30px 30px -16px rgb(232, 208, 42);
}



/* img3 */
.img3 {
    background: url('../img/farben-0.jpg') center/cover no-repeat;
    width: 400px;
    height: 550px;
    box-shadow: 0 30px 30px -16px rgb(255, 141, 157);
}


.btn {
    display: inline-block;
    color: #1798b8;
    font-size: 4rem;
    padding: 1rem;
    border-radius: 20px;
    outline: none;
}

.prevBtn {
    position: absolute;
    left: 81px;
}

.nextBtn {
    position: absolute;
    left: 275px;
}



/* ================card  ============*/

#cardContainer1 {

    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

#cardContainer1 div {
    width: 300px;
    height: 361px;
    margin-left: 20px;
    /* box-shadow: 0 30px 30px -20px #999900 ;  */
    position: relative;


}


#cardContainer1 .mobel1 {
    position: absolute;
    background: url(../img/mobel-1.jpg) center/cover;
    background-repeat: no-repeat;
    /* background-size: 200px; */
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -10px #1a1a05bd ; 
}

#cardContainer1 span{
    position: absolute;
    bottom: 40px;
    right: 165px;
    font-size: 22px;
}
#cardContainer1 p{
    font-size: 20px;
}
#cardContainer2 p{
    font-size: 20px;
}
#cardContainer1 .mobel2 {
    background: url(../img/mobel-2.jpg) center/cover no-repeat;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -10px #1a1a05bd

}

#cardContainer1 .mobel3 {
    background: url(../img/mobel-3.jpg) center/cover no-repeat;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -10px #1a1a05bd

}



#cardContainer2 {
    width: 100%;
    height: 760px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

}

#cardContainer2 div {
    width: 300px;
    height: 361px;
    margin-left: 20px;
    position: relative;
    /* box-shadow: 0 30px 30px -20px #999900 ; */

}

#cardContainer2 span{
    position: absolute;
    bottom: 40px;
    right: 165px;
    font-size: 22px;
}


#cardContainer2 .mobel4 {
    background: url(../img/mobel-4.jpg) center/cover no-repeat;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -10px #1a1a05bd
}

#cardContainer2 .mobel5 {
    background: url(../img/mobel-5.jpg) center/cover no-repeat;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -10px #1a1a05bd
}


#cardContainer1 a {
    position: absolute;
    bottom: 0;
    padding: 4px 15px;
    letter-spacing: 4px;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    right: 142px;
    text-decoration: none;
    color: #131701;
    
}

#cardContainer2 a {
    position: absolute;  
    padding: 4px 15px;
    letter-spacing: 4px;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    text-decoration: none;
    color: #131701;
    right: 143px;
    bottom: 0;
}
/* effect an ADDbtn */
.hover {
    color: #255784;
    background:  #666666d4;
    box-shadow: 0 0 10px #1a1a05bd, 0 0 40px #1a1a05bd, 0 0 80px #1a1a05bd;
    transition-delay: 1s;
    border-radius: 20px;
}
  /*======== CART ToDoList */

#cardToDoList{
    width: 50%;
    height:500px;
    background-color: cadetblue;
    margin: auto;
   
   
}

#items{
    width: 100%;
    height: 90vh;
    
    
}



#items div{
    display: block;
    text-align: center;
    font-size: 37px;
    font-family: initial;    
}

#items ul{
    width: 100%;
     text-align: center;
    
}

#items ul li{
   
    display: inline-block;
    margin-left: 70px;
    height: 70px;
    line-height: 70px;
    /* display: inline-block; */
    padding: 5px 15px;
    border-bottom: 1px solid black;  
}

#items ul :nth-child(1){
  margin-right: 100px;
}
#items ul :nth-child(2){
    margin-right: 100px;
  }
  
  #items ul :nth-child(3){
    margin-right: 100px;
  }
  


/*==============nav bar @media =============*/
@media screen and (max-width: 660px) {
    header {
        text-align: center;
    }

    .logo {
        float: none;
        display: inline-block;
        margin: 0 0 16px 0;
    }

    ul {
        float: none;
    }

    nav li:first-of-type {
        margin-left: 0;
    }

    .font {
        display: none;
    }

    #shopContainer {
        display: none;

    }

    #flex {
        width: 100%;
        height: 1700px;
        margin-left: 0;
        text-align: center;
    }

    #flex div {
        width: 100%;
        margin-left: 0;

    }

    #cardContainer1 {
        text-align: center;
        width: 100%;
        height: 1500px;
        margin-left: 0;
    }

    #cardContainer1 div {
        width: 100%;
        margin-left: 0;
    }

    #cardContainer2 div {
        width: 100%;
        margin-left: 0;
    }

}

@media screen and (max-width: 550px) {
    nav {
        overflow: visible;
    }

    nav li {
        display: block;
        margin: 0;
        height: 40px;
        line-height: 40px;
    }

    nav li:hover {
        background: rgba(0, 0, 0, .1);
    }

    nav a:after {
        content: none;
    }

    .title {
        display: none;
    }

    .font {
        display: none;
    }

    #shopContainer {
        display: none;

    }

    #flex {
        width: 100%;
        height: 1700px;
        margin-left: 0;
        text-align: center;
    }

    #flex div {
        width: 100%;
        margin-left: 0;

    }

    #cardContainer1 {
        text-align: center;
        width: 100%;
        height: 1500px;
        margin-left: 0;
    }

    #cardContainer1 div {
        width: 100%;
        margin-left: 0;
    }

    #cardContainer2 div {
        width: 100%;
        margin-left: 0;
    }
}